<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Productos Nodepop</h1>

    <h2>Listado de productos</h2>

    <% productos.forEach(producto => { %>
    <p> Nombre del producto: <%= producto.name %></p>
    <p>
      Estado: <%= producto.forSale ? 'Se vende' : 'En busqueda' %>
    </p>
    <p> Coste del producto: <%= producto.precio %></p>
    <p> Etiquetas: <%= producto.etiquetas %></p>
    <img src="/images/<%=producto.imagen %>">

  
    
    <% }) %>

  </body>
</html>